/**
 * ================
 * Radios to slider
 * ================
 *
 * Markup :
 *
 * div.radioslider
 *     div.radioslider__item
 *           input.radioslider__input
 *           label.radioslider__label
 *               span.radioslider__dot
 *               span.radioslider__text
 *     div.radioslider__bar
 *         div.radioslider__fill
 *               span.radioslider__handle
 */
@import "mixins";
$radioslider: (
    bar-color:  hsl(0, 0%, 90%),
    fill-color: hsl(220, 100%, 60%),
    fill-color-inverse: hsl(10, 75%, 60%),
    handle-color: hsl(220, 100%, 100%),
    default: (
        dot-size: 1.5em, // Dots width and height
        bar-padding: 0.25em, // bar padding
        bar-margin-bottom: 1em, // Distance between bar and labels
    ),
    small: (
        dot-size: 0.7em,
        bar-padding: 0.15em,
        bar-margin-bottom: 1em,
    ),
    tiny: (
        dot-size: 0.2em,
        bar-padding: 0.1em,
        bar-margin-bottom: 1em,
    )
);

// html .radioslider__handle {
//     opacity: 0.5;
// }
// html .radioslider__fill {
//     border-radius: 0;
//     opacity: 0.5;
// }

/* =========
   Container
   ========= */

.radioslider,
.radioslider * {
    box-sizing: border-box;
    &:before,
    &:after {
        box-sizing: border-box;
    }
}

.radioslider {

    /* Color variables */
    --bar-color: #{map-get($radioslider, bar-color)};
    --fill-color: #{map-get($radioslider, fill-color)};
    --fill-color-inverse: #{map-get($radioslider, fill-color-inverse)};
    --handle-color: #{map-get($radioslider, handle-color)};

    /* Default size variables */
    --dot-size: #{map-deep-get($radioslider, default, dot-size)};
    --bar-padding: #{map-deep-get($radioslider, default, bar-padding)};
    --bar-margin-bottom: #{map-deep-get($radioslider, default, bar-margin-bottom)};
    --bar-thickness: calc(var(--bar-padding)*2 + var(--dot-size));

    position: relative;
    display: flex;
    padding: map-deep-get($radioslider, default, bar-padding); // old browsers
    padding: var(--bar-padding);
    margin-bottom: 1em;


    /* ========================
       Options, inputs & labels
       ======================== */


    // Radio inputs and labels container
    &__item {
        z-index: 1;
        display: flex;
        justify-content: center;
    }

    // Radio inputs
    &__input {
        @extend .visually-hidden;

        // Checked state
        &:checked + .radioslider__label {
            font-weight: bold;

            .radioslider__dot {
                background-color: map-get($radioslider, handle-color);; // old browsers
                background-color: var(--handle-color);
            }
        }
    }

    // Labels
    &__label {
        display: flex;
        cursor: pointer;

        // Hover & focus states
        &:hover,
        &:focus,
        &:focus-within {
            .radioslider__dot {
                // transform: scale(1.25);
                box-shadow: 0 0.1em 0.2em hsla(0, 0%, 0%, 0.33);
            }
        }

        // Active state : see `input:checked` instead
        &.active {}
    }

    // Labels dots
    // They visually replace the radio inputs
    &__dot {
        display: block;
        width: map-deep-get($radioslider, default, dot-size); // old browsers
        height: map-deep-get($radioslider, default, dot-size); // old browsers
        width: var(--dot-size);
        height: var(--dot-size);
        background-color: white;
        border-radius: 99em;
        transition: all 0.1s;

        // Under the fill bar
        &.under {
            opacity: 0.2;
        }
    }

    // Labels text
    &__text {
        display: block;
        word-break: break-all;
        overflow-wrap: anywhere; /* better than word-break, when supported */
        text-align: center;
    }


    /* =================
       Bar + fill + handle
       ================= */


    &__bar {
        z-index: 0;
        // overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-radius: 99em;
        background-color: map-get($radioslider, bar-color); // old browsers
        background-color: var(--bar-color);

        // Inverse direction
        &.inverse {
            .radioslider__fill {
                background-color: map-get($radioslider, fill-color-inverse); // old browsers
                background-color: var(--fill-color-inverse);
            }
            .radioslider__handle {
                border-color: map-get($radioslider, fill-color-inverse); // old browsers
                border-color: var(--fill-color-inverse);
            }
        }
    }

    &__fill {
        display: block;
        pointer-events: none;
        position: absolute;
        background-color: map-get($radioslider, fill-color); // old browsers
        background-color: var(--fill-color);

        &.offseted.offseted {
            border-radius: 0;
        }
    }

    &__handle {
        // float: right;
        position: absolute;
        width: map-deep-get($radioslider, default, dot-size) + (map-deep-get($radioslider, default, bar-padding) * 2); // old browsers
        height: map-deep-get($radioslider, default, dot-size) + (map-deep-get($radioslider, default, bar-padding) * 2); // old browsers
        width: calc(var(--dot-size) + (var(--bar-padding) * 2));
        height: calc(var(--dot-size) + (var(--bar-padding) * 2));
        background-color: map-get($radioslider, handle-color);; // old browsers
        background-color: var(--handle-color);
        border-radius: 99em;
        border: 0.2em solid var(--fill-color);
        border-color: map-deep-get($radioslider, default, fill-color); // old browsers

        // Secondary handle when the origin is offsetd
        &_origin {
            background-color: var(--fill-color);
            &.inverse {
                background-color: var(--fill-color-inverse);
            }
        }
    }

    /* ==========
       Horizontal
       ========== */
  
    &_horizontal {
        flex-flow: row;
        justify-content: space-between;
        padding-bottom: 0;

        .radioslider__item {
            flex: 1 0 0px; /* 0px flex basis to force equal widths */
        }
        .radioslider__label {
            flex-flow: column;
            align-items: center;
        }
        .radioslider__text {
            margin-top: map-deep-get($radioslider, default, bar-padding) + map-deep-get($radioslider, default, bar-margin-bottom);
            margin-top: calc(var(--bar-padding) + var(--bar-margin-bottom));
        }
        .radioslider__bar {
            height: map-deep-get($radioslider, default, dot-size) + (map-deep-get($radioslider, default, bar-padding) * 2); // old browsers
            height: calc(var(--dot-size) + (var(--bar-padding) * 2));
        }
        .radioslider__handle {
            transform: translateX(-50%);
        }
        .radioslider__fill {
            border-top-left-radius: 99em;
            border-bottom-left-radius: 99em;
            height: 100%;
        }
    }

    /* ========
       Vertical
       ======== */
  
    &_vertical {
        flex-flow: column;
        align-items: flex-start;
        height: 100%;
        padding-right: 0;

        .radioslider__item {
            flex: 1 1 auto;
            &:last-of-type {
                flex: 0 1 auto;
            }
        }
        .radioslider__label {
            flex-flow: row;
        }
        .radioslider__text {
            margin-left: map-deep-get($radioslider, default, bar-padding) + map-deep-get($radioslider, default, bar-margin-bottom);
            margin-left: calc(var(--bar-padding) + var(--bar-margin-bottom));
        }
        .radioslider__bar {
            bottom: 0;
            width: map-deep-get($radioslider, default, dot-size) + (map-deep-get($radioslider, default, bar-padding) * 2); // old browsers
            width: calc(var(--dot-size) + (var(--bar-padding) * 2));
        }
        .radioslider__handle {
            transform: translateY(50%);
        }
        .radioslider__fill {
            width: 100%;
            border-bottom-right-radius: 99em;
            border-bottom-left-radius: 99em;
        }
    }

    /* ========
       Animated
       ======== */

    &_animated {
        .radioslider__fill,
        .radioslider__handle {
            transition: 0.2s ease-out;
        }
    }

    /* ========
       Disabled
       ======== */

    &_disabled {
        .radioslider__input,
        .radioslider__label {
            pointer-events: none;
        }
        .radioslider__item {
            cursor: not-allowed;
        }
    }

    /* ===========
       Fit borders
       =========== */

    &_fit {
        .radioslider__item {
            flex-grow: 0;
        }
        // Arbitrary larger width for label text
        .radioslider__text {
            width: 400%;
        }
    }

    /* ============
       Size : small
       ============ */

    &_small {

        // Size variables
        --dot-size: #{map-deep-get($radioslider, small, dot-size)};
        --bar-padding: #{map-deep-get($radioslider, small, bar-padding)};
        --bar-margin-bottom: #{map-deep-get($radioslider, small, bar-margin-bottom)};

        .radioslider__dot {
            width: map-deep-get($radioslider, small, dot-size); // old browsers
            height: map-deep-get($radioslider, small, dot-size); // old browsers
            width: var(--dot-size);
            height: var(--dot-size);
        }

        .radioslider__text {
            margin-top: map-deep-get($radioslider, small, bar-padding) + map-deep-get($radioslider, small, bar-margin-bottom);
            margin-top: calc(var(--bar-padding) + var(--bar-margin-bottom));
        }

        .radioslider__bar {
            height: map-deep-get($radioslider, small, dot-size) + (map-deep-get($radioslider, small, bar-padding) * 2); // old browsers
            height: calc(var(--dot-size) + (var(--bar-padding) * 2));
        }

        .radioslider__handle {
            width: map-deep-get($radioslider, small, dot-size) + (map-deep-get($radioslider, small, bar-padding) * 2); // old browsers
            height: map-deep-get($radioslider, small, dot-size) + (map-deep-get($radioslider, small, bar-padding) * 2); // old browsers
            width: calc(var(--dot-size) + (var(--bar-padding) * 2));
            height: calc(var(--dot-size) + (var(--bar-padding) * 2));
        }
    }

    /* ===========
        Size : tiny
        =========== */

    &_tiny {

        // Size variables
        --dot-size: #{map-deep-get($radioslider, tiny, dot-size)};
        --bar-padding: #{map-deep-get($radioslider, tiny, bar-padding)};
        --bar-margin-bottom: #{map-deep-get($radioslider, tiny, bar-margin-bottom)};

        .radioslider__dot {
            position: relative;
            width: map-deep-get($radioslider, tiny, dot-size); // old browsers
            height: map-deep-get($radioslider, tiny, dot-size); // old browsers
            width: var(--dot-size);
            height: var(--dot-size);

            // Makes the dot more easily clickable
            &:after {
                content: '';
                position: absolute;
                top: -1em;
                right: -1em;
                bottom: -1em;
                left: -1em;
            }
        }

        .radioslider__text {
            margin-top: map-deep-get($radioslider, tiny, bar-padding) + map-deep-get($radioslider, tiny, bar-margin-bottom);
            margin-top: calc(var(--bar-padding) + var(--bar-margin-bottom));
        }

        .radioslider__bar {
            height: map-deep-get($radioslider, tiny, dot-size) + (map-deep-get($radioslider, tiny, bar-padding) * 2); // old browsers
            height: calc(var(--dot-size) + (var(--bar-padding) * 2));
        }

        .radioslider__handle {
            $factor: 4;
            width: (map-deep-get($radioslider, tiny, dot-size) + (map-deep-get($radioslider, tiny, bar-padding) * 2)) * $factor; // old browsers
            height: (map-deep-get($radioslider, tiny, dot-size) + (map-deep-get($radioslider, tiny, bar-padding) * 2)) * $factor; // old browsers
            width: calc((var(--dot-size) + (var(--bar-padding) * 2)) * #{$factor});
            height: calc((var(--dot-size) + (var(--bar-padding) * 2)) * #{$factor});

            // Secondary handle : keep the original dimensions
            &_origin {
                width: map-deep-get($radioslider, default, dot-size) + (map-deep-get($radioslider, default, bar-padding) * 2); // old browsers
                height: map-deep-get($radioslider, default, dot-size) + (map-deep-get($radioslider, default, bar-padding) * 2); // old browsers
                width: calc(var(--dot-size) + (var(--bar-padding) * 2));
                height: calc(var(--dot-size) + (var(--bar-padding) * 2));
            }
            
        }
        &.radioslider_horizontal {
            .radioslider__handle {
                transform: translate(-50%, calc(-50% + (var(--bar-thickness)/2)));
            }
        }
    }

}

/* Accessible method to hide content */
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    height: auto; /* new - was 1px */
    margin: 0; /* new - was -1px */
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}